@import url('https://fonts.googleapis.com/css3?familly=Roboto:wght@300;400;500;700&display=swap');
/* (*) indicates the universal selector */
*{
    /* I set the font style to Roboto here */
    font-family: 'Roboto';
    font-size: medium;
    /* I remove the margin and padding */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --blue: #2a2185;
    --white: #fff;
    --grayWhite: #f5f5f5;
    --gray: #999;
    --black: #222;
    --cyan: lightcyan;
    --bwood: burlywood;
    --green: green;
}

/* ====== Here to define the parametters of the body */
body{
    /* background: #f1f1f1; */
    min-height: 100vh;
    /* Specifies the handling of overflow in the horizontal direction. */
    width: 95%;
    overflow-x: hidden;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    min-height: 100px;
    background-color: var(--blue);
    margin-top: 2px;
    margin-bottom: 5px;
    line-height: 90px;
}

#logo-div{
    width: 50%;
    min-height: 90px;
    float: left;
    line-height: 100px;
    padding-left: 2%;
    color: var(--white);
    margin-top: 5px;
}

#logo-img{
    padding-top: 0px;
    width: 85px;
    min-height: 85px;
    border-radius: 50%;
    line-height: 85px;
}

/* Here the “navbar style” : */
nav {
    width: 50%;
    min-height: 90px;
    float: right;
    line-height: 90px;
    color: var(--white);
    /* text-align: center; */

    /* background-color: var(--blue);
    margin: 0;
    overflow: hidden;
    transition: 0.5s;
    border: solid var(--blue);
    overflow: hidden; */
}

.clearfix ::after{
    content: "";
    display: block;
    clear: both;
}

/* ======== some style to the list element : ========= */
nav ul{
    margin: 0;
    padding: 0;
}

nav ul li{
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block;
    position: relative;
    list-style-type: none;
}

/* Create a style for the first level items */
nav ul li a{
    color: #fff;
    display: block;
    line-height: 2em;
    display: flex;
    padding: 0.5em 0.5em;
    text-decoration: none;
    color: var(--white);
}

nav ul li:hover a{
    color: var(--blue);
}

nav ul li:hover{
    /* This allow ths to display the color on hover */
    background-color: var(--white);
    color: var(--blue);
}

#header-banner-div{
    width: 100%;
    min-height: 100px;
    background-color: var(--cyan);
    border: 1px solid var(--black);
    text-align: center; 
    line-height: 100px;
    margin-bottom: 5px;
}

main{
    border: 1px solid var(--black);
    width: 100%;
    height: 500px;
    float: right;
    /* padding: 0px 5px 0px 5px; */
}

aside{
    border: 1px solid var(--blue);
    width: 20%;
    height: 500px;
    float: left;
}

figure{
    border: 1px solid black; 
    padding: 5px;
}

.div-pp{
    border: 2px solid;
    border-color: var(--blue);
    width: 80%;
    height: 100%;
    float: left;
}

.Row {
    display: table;
    width: 92%; /* Optional */
    table-layout: fixed; /* Optional */
    border-spacing: 10px; /* Optional */
    margin-top: 10px;
    margin-left: 4.0%;
}

.Column {
    display: table-cell;
    /* background-color: red; Optional */
    border: 1px solid;
    border-color: var(--blue);
    height: 350px;
    padding: 5px 2px 3px 5px;
}

.div-header{
    border: 1px solid;
    border-color: var(--blue);
    width: 90%;
    height: 80px;
    margin-top: 20px;
    margin-left: 5%;
}

div-left{
    border: 1px solid var(--blue);
    width: 25%;
    height: 350px;
    margin-top: 15px;
    margin-left: 5%;
}

p{
    border: 1px solid;
    color: var(--blue);
    border-color: var(--blue);
    padding: 0px 5px 0px 5px;
    text-align: center;
}
/* .div-mid{
    border: 1px solid var(--blue);
    width: 25%;
    height: 350px;
    margin-top: 15px;
    float: left;
} */

audio{
    width: 100%;
  }

  footer{
    width: 100%;
    min-height: 50px;
    background-color: var(--gray);
    border: 1px solid var(--black);
    text-align: center;
    line-height: 50px;
}
/* 
footer {
    flex-shrink: 0;
    border-top: 1px dashed #000;
    /* height: 20px; 
    width: 100%;
    background-color: var(--blue);
    color: #EEE;
    width: 100%;
    text-align: center;
  } */